
*{
    padding:0px;
    margin:0px;   
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}
body{
    background-color: #0d1b2a;
    text-align: center;
    color: hsl(75, 6%, 87%);
    padding:20px;
}
.container{
    min-height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 2rem;
}
.game{
    height: auto;
    width: 100%;
    max-width:500px;
    display: grid;
    grid-template-columns: repeat(3, 30vw);
    text-align: center;
    gap: 10px;
    right: 20px;
    margin:auto;
    position: relative;
}
.box{
    aspect-ratio: 1;
    font-size: 10vw;
    width: 100%;
    background-color: #415a77;
    border-radius: 18px;
    border: none;
    color: #c9ada7;
    font-weight: bolder;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.box:hover {
    background-color: #384e76;
    transform: scale(1.05);
}
h1{
    font-size: 3rem;
    margin-bottom:20px;
}
#buttons{
    margin-top:3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
#buttons button {
  min-width: 140px;
  padding: 14px 24px;
  background-color: #c9ada7;
  color: #0d1b2a;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  white-space: nowrap; /* Prevents line break */
}

#buttons button:hover {
  background-color: #e6cfc8;
  transform: scale(1.05);
}
#reset, #back, #new-game{
    padding: 12px 24px;
    color:#0d1b2a;
    border-radius: 2rem;
    background-color: #c9ada7;
    font-weight: 700;
    border: none;
    font-size: 1rem;
    text-wrap:inherit;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#msg{
    color:#415a77;
    font-size: 3rem;
    content: '🎉🎉';
}
.msg-container{
    
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(13, 27, 42, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 10;
  transition: all 0.3s ease;
}
.hide{
    display: none;
}
.o-player {
    color: blue;  /* Color for O*/
  }
  .winning-line {
  position: absolute;
  height: 5vw;
  background-color: red;
  display: none;
  z-index: 5;
  transition: all 0.3s ease-in-out;
  transform-origin: center;
  border-radius: 5px;
  }

.x-player {
    color: red;   /* Color for X*/
  } 
   @media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    .box {
        font-size: 8vw;
    }
    #msg {
        font-size: 1.8rem;
    }

    #reset, #back, #new-game {
        padding: 10px 16px;
        font-size: 0.9rem;
    }

    #buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
